* {
    margin: 0;
    padding: 0;
    font-family: ' Lato-Regular', 'MyriadPro-Regular';
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 255);
    font-size: 10px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

a:hover {
    color: #2eb398;
}

li {
    list-style-type: none;
}


header {
    margin-bottom: 63px;
}

nav {
    background: #323232;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
}

nav li a {
    padding: 0 10px;
}

.header-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 26px 45px 0 45px;
    border-color: #323232 transparent transparent transparent;
    margin: 0 auto;
}

.circle {
    width: 2px;
    height: 2px;
    background: rgba(255, 255, 255, 255);
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    position: relative;
    bottom: -1px;

}

.nav_links {
    margin-bottom: 15px;
}

.nav-left_links {
    margin-right: 28px;
    /* Здесь выровнял треугольник */
}

.nav-right_links {
    margin-left: 25px;
}

.profile {
    font-family: 'MavenProRegular', 'AdobeInvisFont', 'MyriadPro-Regular';
    background: #2eb398;
    height: 341px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.profile_describe {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 17px;
    top: 62px;
 
}

.profile_describe h2 {
    margin-bottom: -2px;
}

.profile_describe h3 {
    margin-bottom: 15px;
}

.profile_describe_lorem {
    font-size: 12px;
    width: 581px;
    height: 76px;
    font-family: 'Lato-Regular', 'MyriadPro-Regular';
    font-size: 12px;
    color: rgba(215, 252, 245, 255);
    text-align: justify;
    line-height: 1.9;
}

.profile_vertical_line {
    width: 1px;
    height: 316px;
    background: #219d84;
    position: relative;

}

.right {
    top: 13px;
    left: -20px;
}

.left {
    top: 13px;
    left: 38px;
}

h2 {
    font-size: 30px;
    color: rgba(215, 252, 245, 255);
}

h3 {
    font-size: 18px;
    color: rgba(32, 129, 109, 255);
}
/* --------------------------------- FOOTER --------------------------------- */
footer {
    box-sizing: border-box;
    background: #323232;
    display: flex;
    flex-direction: column;
}

form {
    width: 580px;
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    padding-top: 85px;
}

form input {
    background: #454545;
    padding: 11px;
    border: none;
    margin-bottom: 16px;
}

form input::placeholder {
    font-size: 12px;
    color: rgba(190, 190, 190, 255)
}

form textarea {
    background: #454545;
    height: 150px;
    border: none;
}

form textarea::placeholder {
    font-size: 12px;
    color: rgba(190, 190, 190, 255)
}

.form-title {
    color: rgba(224, 224, 224, 255);
    font-size: 30px;
}

.form-title_second {
    color: rgba(190, 190, 190, 255);
    font-size: 18px;
    margin-bottom: 20px;

}

.button_send {
    margin-left: 490px;
    margin-top: 16px;
    width: 90px;
    height: 37px;
    background: #2eb398;
    border: none;
    color: rgba(215, 252, 245, 255);
    font-size: 12px;
}

.footer_container {
    position: relative;
    top: -23px;
    margin: 0 auto;
    width: 1020px;
    height: 564px;
    display: flex;
    justify-content: center;

}

.describe {
    font-family: ' Lato-Regular', 'MyriadPro-Regular';
    color: rgba(224, 224, 224, 255);
    width: 180px;
    height: 117px;
    font-size: 12px;
    line-height: 1.5;
    padding-left: 20px;
    padding-top: 134px;
    padding-right: 120px;
    position: relative;
    top: 23px;
    text-align: justify;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.copyring {
    height: 43px;
    color: #454545;
    background: #222222;
    display: flex;
  
}
.copyring span {
    font-size: 9pt;
    font-family: ' Lato-Regular', 'MyriadPro-Regular';
    margin-left: 33px;
    margin-top: 16px; 
}




/* HEXAGONS */

.hexagon-container {
    /* width: 1020px; */
    margin: 0 auto;
}

.hexagon {
    width: 182px;
    height: 209px;
    margin: 0 9px;
    transform: rotate(120deg);
    overflow: hidden;
    visibility: hidden;
}

.smith {
    margin: auto 0;
}

.hex-layer-1 {
    visibility: hidden;
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
}

.hex-layer-2 {
    width: 100%;
    height: 100%;
    background: #ccc3;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible;

    background-repeat: no-repeat;
    background-position: 50%;
}

.sideline {
    width: 1px;
    height: 104px;
    background: #e4e9eb;
    position: relative;
 
}

.top-left {
    margin-right: 19px; 
    top: 53px;
}

.top-right{
    margin-left: 19px; 
    top: 53px;
}
/* ---------------------------------------------------- */
.picture_one {
    background-image: url(/assets/1.png);
}

.picture_two {
    background-image: url(/assets/2.png);
}

.picture_three {
    background-image: url(/assets/3.png);
}

.picture_four {
    background-image: url(/assets/4.png);
}

.first-line_container {
    display: flex;
    justify-content: center;
}
/* ---------------------------------------------------- */
.picture_five {
    background-image: url(/assets/5.png);
}

.picture_six {
    background-image: url(/assets/6.png);
}

.picture_seven {
    background-image: url(/assets/7.png);
}

.picture_eight {
    background-image: url(/assets/8.png);
}

.picture_nine {
    background-image: url(/assets/9.png);
}

.second-line_container {
    position: relative;
    display: flex;
    justify-content: center;
    top: -41px;
}
/* ---------------------------------------------------- */

.picture_ten {
    background-image: url(/assets/10.png);
}

.picture_eleven {
    background-image: url(/assets/11.png);
}

.picture_twelve {
    background-image: url(/assets/12.png);
}

.picture_thirteen {
    background-image: url(/assets/13.png);
}

.third-line_container {
    position: relative;
    display: flex;
    justify-content: center;
    top: -81px;
}


.smith-layer {
    width: 100%;
    height: 100%;
    background: #ccc3;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible;
    background-image: url(../assets/smith.png);
    background-repeat: no-repeat;
    background-position: 50%;
}








@font-face {
    font-family: 'fontello';
    src: url('../assets/font/fontello.eot?66712249');
    src: url('../assets/font/fontello.eot?66712249#iefix') format('embedded-opentype'),
         url('../assets/font/fontello.woff2?66712249') format('woff2'),
         url('../assets/font/fontello.woff?66712249') format('woff'),
         url('../assets/font/fontello.ttf?66712249') format('truetype'),
         url('../assets/font/fontello.svg?66712249#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'fontello';
      src: url('../font/fontello.svg?66712249#fontello') format('svg');
    }
  }
  */
   
   [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
   
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
   
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
   
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
   
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
   
  .icon-twitter:before { content: '\f099'; } /* '' */
  .icon-facebook:before { content: '\f09a'; } /* '' */
  .icon-linkedin:before { content: '\f0e1'; } /* '' */
  .icon-dribbble:before { content: '\f17d'; } /* '' */
  .icon-pinterest:before { content: '\f231'; } /* '' */
  .icon-gplus:before { content: '\f30f'; } /* '' */

.social_wrapper {
    position: relative;
    left: 415px;
    top: 33px;
}
  .social_list li {
      display: inline-block;
      position: relative;
      top: 10px;
      left: 10px;
  }

  .item_social {
      width: 24px;
      height: 24px;
      font-size: 13px;
      color: #04ac95;
      background: #a5dbd4;
      display: flex;
      justify-content: center;
      align-items: center;
      /* text-decoration: none; */
  }

  .item_social:hover {
    background: #6ccbbe;
  }