* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

a:hover {
    color: #2eb398;
}

li {
    list-style-type: none;
}


header {}

nav {
    background: #323232;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
}

nav li a {
    padding: 0 10px;
}

.header-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 26px 45px 0 45px;
    border-color: #323232 transparent transparent transparent;
    margin: 0 auto;
}

.nav_circle {
    width: 4px;
    height: 4px;
    border-radius: 100%;

}

.nav_links {
    margin-bottom: 15px;
}

.nav-left_links {
    margin-right: 28px;
    /* Здесь выровнял треугольник */
}

.nav-right_links {
    margin-left: 25px;
}

.container {
    font-family: 'MavenProRegular', 'AdobeInvisFont', 'MyriadPro-Regular';
    background: #2eb398;
    height: 341px;

}

h2 {
    font-size: 30px;
    color: rgba(215, 252, 245, 255);
}
h3 {
    font-size: 18px;
    color: rgba(32, 129, 109, 255);
}

.container p {
    font-family: ' Lato-Regular', 'MyriadPro-Regular';
    font-size: 12pt;
    color: rgba(215, 252, 245, 255);
}

footer {
    background: #323232;
}

form {
    width: 500px;
    display: flex;
    flex-direction: column; 
}

form input{
    background: #454545;
    padding: 19px;
    border: none;
    margin: 3px;
}

.form-title {
    color: rgba(215, 252, 245, 255);
    font-size: 30px;
}

.form-title_second {
    color: rgba(215, 252, 245, 255);
    font-size: 18px;
    font-family: ' Lato-Regular', 'MyriadPro-Regular';
}

.button {
    width: 90px;
    height: 37px;
}